@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS Variables for colors, padding, Font Size, Font Family, etc. */
:root {
    --primary-color: #9381ff;
    --primary-mini-color: #b8b8ff;

    --secondary-color: #f8f7ff;
    --secondary-mini-color: #ffeedd;
    --secondary-mini-color-hover: #ffe4cb;

    --secondary-dark-color: #ffd8be;
    --font-size: 16px;
    --padding: 0.5rem 1rem;
}

html,
body {
    background-color: var(--secondary-color);
}

/* Globaly Used CSS Classes */
.content-center {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 400px);
    width: 70vw;
    padding-top: 200px;
    padding-left: 30vw;
    z-index: 10;
}
